In [1]:
a = 10
b = 20

print(a+b)

30

In [2]:
num = 25
print(num)
print(type(num))

25
<class 'int'>

In [3]:
2num = 20
_num = 30

SyntaxError: invalid decimal literal (2630181296.py, line 1)

In [4]:
num_1 =80
num_2 = 10

print(num_1 * num_2)

800

In [5]:
num_2=20.5
print(type(num_2))

<class 'float'>

In [6]:
A = 10 + 20J

print(type(A))

<class 'complex'>

In [7]:
NUM_3 = 2.5e12
print(NUM_3)
print(type(NUM_3))

2500000000000.0
<class 'float'>

In [9]:
x = 7
a = float(x)

print(x, type(x))
print(a, type(a))

7 <class 'int'>
7.0 <class 'float'>

In [10]:
y = 20.8
b = int(y)

print(y, type(y))
print(b, type(b))

20.8 <class 'float'>
20 <class 'int'>

In [11]:
my_list = [10, 5, "John", 6.2, True]

print(my_list)
print(type(my_list))

[10, 5, 'John', 6.2, True]
<class 'list'>

In [ ]:
#Indexing the list

my_list = [10, 5, "John", 6.2, True]

print(my_list[1])

5

In [ ]:
#Negative indexing

my_list = [10, 5, "John", 6.2, True]

print(my_list[-1])  
print(my_list[-3])

True
John

In [ ]:
#Sublist

my_list = [10, 5, "John", 6.2, True]

print(my_list[1:4]) # Prints elements from index 1 to 3

[5, 'John', 6.2]

In [ ]:

my_list = [10, 5, "John", 6.2, True]
print(my_list[:3])  # Prints elements from the start to index 2

[10, 5, 'John']

In [ ]:
my_list = [10, 5, "John", 6.2, True]
print(my_list[2:]) # Prints elements from index 2 to the end

['John', 6.2, True]

In [19]:
my_list = [10, 5, "John", 6.2, True]
print(my_list[:-3])  # Prints elements from the start to index -4

[10, 5]

In [ ]:
my_list = [10, 5, "John", 6.2, True, 5]

print(my_list) #Prints duplicate elements

[10, 5, 'John', 6.2, True, 5]

In [21]:
my_list[2] = "Doe"  # Changing the value at index 2
print(my_list)  # Prints the updated list

[10, 5, 'Doe', 6.2, True, 5]

In [27]:
my_list[2], my_list[3], my_list[4] = "Kate" , 9.4 , False
print(my_list)

[10, 5, 'Kate', 9.4, False, 5]

In [29]:
my_list[2:5] = ["Kateee",9.8,True]
print(my_list)

[10, 5, 'Kateee', 9.8, True, 5]

In [30]:
my_list.append("Cat")

print(my_list)

[10, 5, 'Kateee', 9.8, True, 5, 'Cat']

In [32]:
my_list.insert(3, "Dog")  # Inserts "Dog" at index 2
print(my_list)

[10, 5, 'Dog', 'Dog', 'Kateee', 9.8, True, 5, 'Cat']

In [33]:
my_list = [10, 5, "Smith", 9.4, False, 5, "Dog" ]
print(my_list)

[10, 5, 'Smith', 9.4, False, 5, 'Dog']

In [34]:
my_list_1 = [10,6,4,3,2]
my_list_2 = [25,10,20]

my_list_1.extend(my_list_2)  # Extends my_list_1 with elements from my_list_2
print(my_list_1)

[10, 6, 4, 3, 2, 25, 10, 20]

In [36]:
my_list = [10, "Cat", 5, "apple", 28]
print(my_list)
my_list.remove("Cat")  # Removes the first occurrence of "Cat"
print(my_list)

[10, 'Cat', 5, 'apple', 28]
[10, 5, 'apple', 28]

In [39]:

my_list.pop(1)  # Removes the element at index 1
print(my_list)

[10, 'apple', 28]

In [ ]:
student = ["Amal","Binu","Chamara"]
print(student)

student.insert(3, "Dilani")  # Corrected syntax for inserting "Dilani"
print(student)

student.insert(2, "Eshan")  # Corrected syntax for inserting "Eshan" between Binu and Chamara
print(student)

student.remove("Amal")  # Removes "Amal" from the list
print(student)

student.insert(0, "Farah")  # Inserts "Farah" at the beginning of the list
print(student)

['Amal', 'Binu', 'Chamara']
['Amal', 'Binu', 'Chamara', 'Dilani']
['Amal', 'Binu', 'Eshan', 'Chamara', 'Dilani']
['Binu', 'Eshan', 'Chamara', 'Dilani']
['Farah', 'Binu', 'Eshan', 'Chamara', 'Dilani']

In [50]:
student = ["Amal","Binu","Chamara"]
print(student)

student.insert(3, "Dilani")  
print(student)

student.insert(2, "Eshan")  
print(student)

student.remove("Amal") 
print(student)

student.insert(0, "Farah")  
print(student)

print(len(student))  # Prints the length of the student list

['Amal', 'Binu', 'Chamara']
['Amal', 'Binu', 'Chamara', 'Dilani']
['Amal', 'Binu', 'Eshan', 'Chamara', 'Dilani']
['Binu', 'Eshan', 'Chamara', 'Dilani']
['Farah', 'Binu', 'Eshan', 'Chamara', 'Dilani']
5

In [56]:
my_list = [10, 5, "John", 6.2, True]
print(my_list)
del my_list[2]  # Deletes the element at index 2
print(my_list)  # Prints the updated list after deletion

[10, 5, 'John', 6.2, True]
[10, 5, 6.2, True]

In [57]:
my_list = [10, 5, "John", 6.2, True]
print(my_list)
del my_list
print(len(my_list))  # This will raise an error because my_list is deleted

[10, 5, 'John', 6.2, True]

NameError: name 'my_list' is not defined

In [59]:
my_list = [25, 10, 20, 30, 40]
print(my_list)
my_list.clear()  # Clears all elements from the list
print(my_list)  # Prints an empty list after clearing
print(len(my_list))  # Prints the length of the list, which is now 0

[25, 10, 20, 30, 40]
[]
0

In [ ]:
my_list = ["banana", "apple", "cherry", "kiwi", "mango"]
my_list.sort()  # Sorts the list in ascending order albhabetically
print(my_list)  # Prints the sorted list

['apple', 'banana', 'cherry', 'kiwi', 'mango']

In [ ]:
my_list = ["banana", "Apple", "Cherry", "kiwi", "mango"] #case-sensitive sorting
my_list.sort()  # Sorts the list in ascending order albhabetically
print(my_list)

['Apple', 'Cherry', 'banana', 'kiwi', 'mango']

In [63]:
num_list = [10, 8, 24, 12, 13, 11]
num_list.sort(reverse=True)  # Sorts the list in descending order
print(num_list)

[24, 13, 12, 11, 10, 8]

In [64]:
my_list_1 = [10, 12, 9, 4, 3]
print(my_list_1)
my_list_2 = my_list_1
my_list_1[2] = 22
print(my_list_1)  # Prints the updated my_list_1
print(my_list_2)  # Prints the updated my_list_2, which reflects the change in my_list_1

[10, 12, 9, 4, 3]
[10, 12, 22, 4, 3]
[10, 12, 22, 4, 3]

In [68]:
my_list_1 = [10, 12, 9, 4, 3]
my_list_2 = my_list_1.copy() 
print(my_list_1,my_list_2)
my_list_1[1] = 15  
print(my_list_1,my_list_2)

[10, 12, 9, 4, 3] [10, 12, 9, 4, 3]
[10, 15, 9, 4, 3] [10, 12, 9, 4, 3]

In [69]:
my_list_1 = [10, 12, 9, 4, 3]
my_list_1.reverse()  # Reverses the order of elements in my_list_1
print(my_list_1)  # Prints the reversed list

[3, 4, 9, 12, 10]

In [70]:
my_list_1 = [10, 12, 9, 4, 3]
my_list_2 = [10, 12, 9, 4, 3]
new_list = my_list_1 + my_list_2  # Concatenates my_list_1 and my_list_2
print(new_list)  # Prints the concatenated list

[10, 12, 9, 4, 3, 10, 12, 9, 4, 3]