In [1]:
a = 10
b = 20

print( a + b)

30

In [2]:
a = [1,2,3]
b = a[:]
b.append(4)
print(a)

[1, 2, 3]

In [4]:
x = [5,2,9,1]
y = sorted(x)
print(x)
print(y)

[5, 2, 9, 1]
[1, 2, 5, 9]

In [5]:
x = [1, 2, 3]
print(x * 2)

[1, 2, 3, 1, 2, 3]

In [6]:
nums = [4,3,2,1]
nums.sort(reverse=True)
print(nums)

[4, 3, 2, 1]

In [7]:
x = ["a", "b", "c"]
x.insert(1, "d")
print(x)

['a', 'd', 'b', 'c']

In [2]:
num = 25
print(num)
print(type(num))

25
<class 'int'>

In [3]:
y = 20.8
b = int(y)

print(y,type(y))
print(b,type(b))

20.8 <class 'float'>
20 <class 'int'>

In [4]:
my_list = [10, 5, "John", 6.2, True]

print(my_list)
print(type(my_list))

[10, 5, 'John', 6.2, True]
<class 'list'>

In [5]:
my_list = [10, 5, "John", 6.2, True, 10]

print(my_list[1])

5

In [6]:
my_list = [10, 5, "John", 6.2, True, 10]

print(my_list[-1])
print(my_list[-2])

10
True

In [7]:
my_list = [10, 5, "John", 6.2, True, 10]

print(my_list[1:4])

[5, 'John', 6.2]

In [8]:
my_list = [10, 5, "John", 6.2, True, 10]

print(my_list[:3])

[10, 5, 'John']

In [10]:
my_list = [10, 5, "John", 6.2, True, 10]

print(my_list[:-3])

[10, 5, 'John']

In [11]:
my_list[2] = "Doe"
print(my_list)

[10, 5, 'Doe', 6.2, True, 10]

In [12]:
my_list[2:5] = ["Smith", 7.5, False]
print(my_list)

[10, 5, 'Smith', 7.5, False, 10]

In [13]:
my_list.append(10)
print(my_list)

[10, 5, 'Smith', 7.5, False, 10, 10]

In [14]:
my_list.insert(3, "Lakhini")
print(my_list)

[10, 5, 'Smith', 'Lakhini', 7.5, False, 10, 10]

In [15]:
my_list = [10, 5, "Smith", 9.4, False, 5, "Dog" ]
print(my_list)

[10, 5, 'Smith', 9.4, False, 5, 'Dog']

In [16]:
my_list_1 = [10,6,4,3,2]
my_list_2 = [25,10,20]

my_list_1.extend(my_list_2)
print(my_list_1)

[10, 6, 4, 3, 2, 25, 10, 20]

In [18]:
my_list = [10, "Cat", 5, "apple", 28]
print(my_list)
my_list.remove("Cat")
print(my_list)

[10, 'Cat', 5, 'apple', 28]
[10, 5, 'apple', 28]

In [19]:
my_list.pop(1)
print(my_list)

[10, 'apple', 28]

In [21]:
student = ["Amal","Binu","Chamara"]
print(student)

student.append("Dilandi")
print(student)

student.insert(2, "Eshan")
print(student)

student.remove("Amal")
print(student)

student.insert(0, "Farah")
print(student)


print(len(student))

['Amal', 'Binu', 'Chamara']
['Amal', 'Binu', 'Chamara', 'Dilandi']
['Amal', 'Binu', 'Eshan', 'Chamara', 'Dilandi']
['Binu', 'Eshan', 'Chamara', 'Dilandi']
['Farah', 'Binu', 'Eshan', 'Chamara', 'Dilandi']
5

In [22]:
my_list = [10, 5, "John", 6.2, True]
print(my_list)

del my_list[2]
print(my_list)

[10, 5, 'John', 6.2, True]
[10, 5, 6.2, True]

In [23]:
my_list = [10, 5, "John", 6.2, True]
print(my_list)
del my_list
print(len(my_list))  # This will raise an error since my_list is deleted

[10, 5, 'John', 6.2, True]

NameError: name 'my_list' is not defined

In [24]:
my_list = [25, 10, 20, 30, 40]
print(my_list)
my_list.clear()
print(my_list)  # This will print an empty list

[25, 10, 20, 30, 40]
[]

In [25]:
my_list = ["banana", "apple", "cherry", "kiwi", "mango"]
my_list.sort()
print(my_list)  # This will print the sorted list

['apple', 'banana', 'cherry', 'kiwi', 'mango']

In [26]:
num_list = [10, 8, 24, 12, 13, 11]
num_list.sort(reverse=True)
print(num_list)  # This will print the list sorted in descending order

[24, 13, 12, 11, 10, 8]

In [3]:
x = [1, 2, 3]
print(x * 4)

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [4]:
x = [5, 2, 9, 1]
y = sorted(x)
print(x)
print(y)

[5, 2, 9, 1]
[1, 2, 5, 9]

In [6]:
my_list = [1, 2, 3]; my_list.remove(2)
print(my_list)

[1, 3]

In [10]:
nums = [4, 3, 2, 1]
nums.sort(reverse=False)
print(nums)

[1, 2, 3, 4]

In [ ]:
a = {1, 2, 3}
b = {3, 4, 5}
print(a & b)

{3}

In [1]:
#Q 1 Write a function 'remove-duplicates(my-list)' that returns a list with duplicates remove(reserving the original order).Also u should write 
# a few line of code to test a function

def remove_duplicates(my_list):
    unique_list = []
    for item in my_list:
        if item not in unique_list:
            unique_list.append(item)
    return unique_list

new_list = [10,20,30,40,40]
print(remove_duplicates(new_list))

#remove_duplicates(my_list_1)
#my_list = [10,20,30,40,40] 

#def remove_duplicates(my_list):
 #unique_list[]
 #new_list = set(my_list)
 #my_list = list(new_list)
 #return my_list
#print(remove_duplicates(my_list))

[10, 20, 30, 40]

In [3]:
#Q 2 Write a function factorial(n) that returns the factorial of a given number n

def factorial(n):
    num = 1
    for i in range(1,n+1):
        num *= i
    return num
print(factorial(4))

24

In [4]:
def factorial(n): 
 if n == 0 or n == 1 :
    return 1 
 
 num_fact = 1

 for i in range(1, n+1):
   num_fact *= i
 return num_fact

print(factorial(3))

6

In [5]:
###  Default arguments
#value ekk dila nathnm parameter eke dila thiyena eka assign krla thiyenawa

def add_numbers(a,b=8):
    return a + b

print(add_numbers(7,4))
print(add_numbers(12)) #a ta 12 assign karala b ta 8 assign wenawa
print(add_numbers(9,3,7)) #parameters 3k dila na 
print(add_numbers()) #a ta argument ekk dalath na parameters wla assign krlath na
# b ta 8 assign wenawa

11
20

TypeError: add_numbers() takes from 1 to 2 positional arguments but 3 were given

In [6]:
###### KeyWord Argument #####

#key word ekk ekkama ywana nisa keyword
#value eka maru unata mekedi aulak wenne na

def add_numbers(a,b):
    print("a:",a)
    print("b:",b)
add_numbers(b=8,a=12) #  <=== keyword arguments

a: 12
b: 8

In [7]:
# Q 3 Write a funtion that calculate and returns a value of a number raised to a certain power.The function should accept 2 arguments, 
# the number and the exponent.If the exponent is not provided, it should calculate the square of the number.

def power(num , exponent=2):
    return num ** exponent

print(power(3))

9

In [8]:
#Q write a function that calculates the employes net salary the function should accept base salary, bonus(default to 0),and tax rate(default to 10%).
#Demonstrate different ways of calling this function using positional and keyword arguments.

def net_salary(base ,bonus = 0, tax=0.1):
    before_tax = bonus + base
    salary = before_tax * (1-tax)

    return salary
print(net_salary(5000))

4500.0

In [9]:
##### Arbitrary Arguments

# * eken kiynne function ekata dana parameters gana niyatha na ona gnak dnna pluwn
#meka tuple ekk widiyta enne

def arbitrary_args(*args):
    print(args , type(args))
    for arg in args:
        print(arg)
arbitrary_args(8,2,3,9)   #onama parametes ganak accept krnna pulwn 
arbitrary_args(8,2,3,9,10,11)

(8, 2, 3, 9) <class 'tuple'>
8
2
3
9
(8, 2, 3, 9, 10, 11) <class 'tuple'>
8
2
3
9
10
11

In [12]:
#Q Write a function multiply_all() that accept any number of numbers and returns their products.If no numbers are provided return 1.

def multiply_all(*args):
    num = 1
    for numbers in args:
     num *= numbers
    return numbers
print(multiply_all(2, 3, 4))  # Output: 24

4

In [13]:
#Q write a function that accept any number of numbers and returns the maximum number among them.Do not use the built in max function.

def maximum(*args):
    max_number = 0
    if not args:
       return "you should provide arguments"
    for num in args:
        if num > max_number:
         max_number = num
    return max_number   
print(maximum(10,20,30,40))

40

In [14]:
###### Arbitrary Keyword Arguments (**kwargs)
#ona tharam pramanayak keyword arguments ywanna pluwn

def arbitrary_keyword_args(**kwargs):
    print(kwargs, type(kwargs))
    print(kwargs["name"])
    print(kwargs["age"])
    print(kwargs["city"])

arbitrary_keyword_args(name = "dilsha" , age = "20",city = "panadura")

{'name': 'dilsha', 'age': '20', 'city': 'panadura'} <class 'dict'>
dilsha
20
panadura

In [15]:
my_dict = {
    "name": "dilsha",
    "age": "20",
    "city": "galle"
}

for key in my_dict.keys():
    print(key)

for value in my_dict.values():
    print(value)    

for key,value in my_dict.items():
    print("key:", key, "value:",value)

name
age
city
dilsha
20
galle
key: name value: dilsha
key: age value: 20
key: city value: galle

In [16]:
#You are developing a student management system
#Write a function add_students() with axen any number of keyword arguments whrere keys are student ids and values are student names
#The function should store all students into a dictionary
#Write anuther function display student vich accsept the dectionory ad trims all student ids and names in the need format
#demostrate your functions by adding atlist 5 students using keyword arguments and then display them


def add_students(**kwargs):
    students = {}
    for key,value in kwargs.items():
        students[key] = value
    return students

def display_students(students):
    for key,value in students.items():
        print(f"student {key} : {value}")

students = add_students(s1 = "aa" ,s2 = "bb")
print(students)

#display
display_students(students)

{'s1': 'aa', 's2': 'bb'}
student s1 : aa
student s2 : bb

In [17]:
################## PYTHON BUILT IN FUNCTIONS ######################

print(abs(-10))
print(pow(2,3))

#mokk hri function ekk iterably

10
8

In [18]:
# WRITE A PYTHON PROGRAM THAT CONVERTS A LIST OF TEMPRETURES IN CELSIUS TO FARENHIGHT
#FOR THE CONVERSION You CAN USE THE FOLLOWINg FORMULA F=c*9/5+32
# use the map function to perform this conversion
# function should return a list of farenhight tempreture 

def celsius_to_faranhight(c):
    return c * 9/5 + 32 
def farenhight(celsius_list):
    farenhight_list = map(celsius_to_faranhight,celsius_list)
    return list(farenhight_list)

celcius_tempreture = [10,20,30,100]
farenhight_tempreture = farenhight(celcius_tempreture)
print(farenhight_tempreture)

[50.0, 68.0, 86.0, 212.0]

In [19]:
###### filter()
def is_even(num):
    return num % 2 == 0
my_list = [4,3,8,12,5,6,9]
even_list = filter(is_even ,my_list)
print(even_list)

<filter object at 0x00000174EB9EF670>

In [20]:
######Lambda function ###########
# annonymous function => nmak nathi nisa

#basically function ekk thani line eken liynna thiyena widiyak 
# def use krnne na namak na
#syntax => lambda  arguments:expression 
add = lambda x,y: x+y
result = add(3,5)


result = (lambda x,y: x+y)(3,5)
print(result)

8

In [ ]:
#q given the following list ,use map with a lambda functionto create a new list where each item is double

my_list = [12,9,8,21,30]

double_list = list(map(lambda x: x*2 , my_list ))
print(my_list)
print(double_list)

[12, 9, 8, 21, 30]
[24, 18, 16, 42, 60]

In [25]:
# q you are given the following list of integers 
#my_list = [12,9,8,21,30] write a python program that use the filter function with a labda function to 
# remove all odd numbers from the list 

my_list = [12,9,8,21,30]

In [26]:
#q write a lambda function(dont use any built in function ) to decide the maximum number between 2 numbers 

max_number = lambda a,b : a if a> b else b 
print(max_number(100,50))

100