In [1]:
a = 10
b = 20

print( a + b)

30

In [2]:
a = [1,2,3]
b = a[:]
b.append(4)
print(a)

[1, 2, 3]

In [4]:
x = [5,2,9,1]
y = sorted(x)
print(x)
print(y)

[5, 2, 9, 1]
[1, 2, 5, 9]

In [5]:
x = [1, 2, 3]
print(x * 2)

[1, 2, 3, 1, 2, 3]

In [6]:
nums = [4,3,2,1]
nums.sort(reverse=True)
print(nums)

[4, 3, 2, 1]

In [7]:
x = ["a", "b", "c"]
x.insert(1, "d")
print(x)

['a', 'd', 'b', 'c']

In [2]:
num = 25
print(num)
print(type(num))

25
<class 'int'>

In [3]:
y = 20.8
b = int(y)

print(y,type(y))
print(b,type(b))

20.8 <class 'float'>
20 <class 'int'>

In [4]:
my_list = [10, 5, "John", 6.2, True]

print(my_list)
print(type(my_list))

[10, 5, 'John', 6.2, True]
<class 'list'>

In [5]:
my_list = [10, 5, "John", 6.2, True, 10]

print(my_list[1])

5

In [6]:
my_list = [10, 5, "John", 6.2, True, 10]

print(my_list[-1])
print(my_list[-2])

10
True

In [7]:
my_list = [10, 5, "John", 6.2, True, 10]

print(my_list[1:4])

[5, 'John', 6.2]

In [8]:
my_list = [10, 5, "John", 6.2, True, 10]

print(my_list[:3])

[10, 5, 'John']

In [10]:
my_list = [10, 5, "John", 6.2, True, 10]

print(my_list[:-3])

[10, 5, 'John']

In [11]:
my_list[2] = "Doe"
print(my_list)

[10, 5, 'Doe', 6.2, True, 10]

In [12]:
my_list[2:5] = ["Smith", 7.5, False]
print(my_list)

[10, 5, 'Smith', 7.5, False, 10]

In [13]:
my_list.append(10)
print(my_list)

[10, 5, 'Smith', 7.5, False, 10, 10]

In [14]:
my_list.insert(3, "Lakhini")
print(my_list)

[10, 5, 'Smith', 'Lakhini', 7.5, False, 10, 10]

In [15]:
my_list = [10, 5, "Smith", 9.4, False, 5, "Dog" ]
print(my_list)

[10, 5, 'Smith', 9.4, False, 5, 'Dog']

In [16]:
my_list_1 = [10,6,4,3,2]
my_list_2 = [25,10,20]

my_list_1.extend(my_list_2)
print(my_list_1)

[10, 6, 4, 3, 2, 25, 10, 20]

In [18]:
my_list = [10, "Cat", 5, "apple", 28]
print(my_list)
my_list.remove("Cat")
print(my_list)

[10, 'Cat', 5, 'apple', 28]
[10, 5, 'apple', 28]

In [19]:
my_list.pop(1)
print(my_list)

[10, 'apple', 28]

In [21]:
student = ["Amal","Binu","Chamara"]
print(student)

student.append("Dilandi")
print(student)

student.insert(2, "Eshan")
print(student)

student.remove("Amal")
print(student)

student.insert(0, "Farah")
print(student)


print(len(student))

['Amal', 'Binu', 'Chamara']
['Amal', 'Binu', 'Chamara', 'Dilandi']
['Amal', 'Binu', 'Eshan', 'Chamara', 'Dilandi']
['Binu', 'Eshan', 'Chamara', 'Dilandi']
['Farah', 'Binu', 'Eshan', 'Chamara', 'Dilandi']
5

In [22]:
my_list = [10, 5, "John", 6.2, True]
print(my_list)

del my_list[2]
print(my_list)

[10, 5, 'John', 6.2, True]
[10, 5, 6.2, True]

In [23]:
my_list = [10, 5, "John", 6.2, True]
print(my_list)
del my_list
print(len(my_list))  # This will raise an error since my_list is deleted

[10, 5, 'John', 6.2, True]

NameError: name 'my_list' is not defined

In [24]:
my_list = [25, 10, 20, 30, 40]
print(my_list)
my_list.clear()
print(my_list)  # This will print an empty list

[25, 10, 20, 30, 40]
[]

In [25]:
my_list = ["banana", "apple", "cherry", "kiwi", "mango"]
my_list.sort()
print(my_list)  # This will print the sorted list

['apple', 'banana', 'cherry', 'kiwi', 'mango']

In [26]:
num_list = [10, 8, 24, 12, 13, 11]
num_list.sort(reverse=True)
print(num_list)  # This will print the list sorted in descending order

[24, 13, 12, 11, 10, 8]

In [3]:
x = [1, 2, 3]
print(x * 4)

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [4]:
x = [5, 2, 9, 1]
y = sorted(x)
print(x)
print(y)

[5, 2, 9, 1]
[1, 2, 5, 9]

In [6]:
my_list = [1, 2, 3]; my_list.remove(2)
print(my_list)

[1, 3]

In [10]:
nums = [4, 3, 2, 1]
nums.sort(reverse=False)
print(nums)

[1, 2, 3, 4]

In [ ]:
a = {1, 2, 3}
b = {3, 4, 5}
print(a & b)

{3}